.image-container {
    margin: auto;
    width: 500px;
    height: 100%;
    max-width: 95vw;
    max-height: 75vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}

img{
    margin: auto;
    grid-column: 1 / 5;
    grid-row: 1 / 7;
    display: flex;
    justify-self: center;
    /* width: 500px; */
    max-width: 95vw;
    object-fit: contain;
    z-index: -1;
    height: 100%;
}

.fact-container {
    padding: 10px;
    display: flex;
    grid-column: 2 / 4;
    grid-row: 3 / 5;
    z-index: 1;
    justify-self: center;
}

.icon-container {
    height: 35px;
    width: 150px;
    grid-column: 2 / 4;
    grid-row: 6 / 7;
    display: flex;
    justify-content: space-between;
    justify-self: center;
}

#random-fact{
    margin: auto;
    font-size: 18px;
}