@media only screen and (max-width: 450px) {

    body{
      height: 100vh;
    }

    header {
      width: 90%;
      border-radius: 15%;
      align-items: center;
      margin: auto;
    }

    footer{
      background-color: transparent;
    }

    h1{
      font-size: 28pt;
    }

    #game-text{
      font-size: 10px;
    }

    .icon-container{
      grid-row: 5 / 7;
    }
  }

  @media only screen and (max-width: 700px) {
    .tama-icon{
    display: none;
    }
  }